.yuy {
background-color: grey;
width: 50%;
color: black;
border: solid black;
font-size: 18;
}

p {
color: white;
}

body {
background: green;
}

li {
list-style-type: none; /* Убираем точки маркеры */
}
