{% extends 'Cook/basic.html' %}
{% load static %}

{% block title %}
Добавление рецепта
{% endblock %}

{% block right %}
<p class="disable">CookieCookieCookieCookieCookieCookieCookieCookieCookieCookieCookieCookieCookieCookie</p>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css"
      href="{% static 'Cook/style.css' %}">
<br><br><br>
<form class='search_form' enctype="multipart/form-data" method="post">
    <h3>Добавление рецепта</h3>
    <p>Внимание!<br>Добавлять рецепт может только авторизованный пользователь.</p>
    {% if request.user.is_authenticated %}
    {% csrf_token %}
    {{ form.name }}<br>
    {{ form.cook_time }}<br>
    {{ form.ingredients }}<br>
    {{ form.directions }}<br>
    {{ form.category }}<br><br>
    {{ form.image }}<br><br>
    {{ form.tags }}<br><br>
    <button type="submit" class="btn btn-success">Добавить</button>
    <span> {{ error }}</span>
    <span> {{ error_1 }}</span>
</form>
{% endif %}
{% endblock %}