{% extends 'Cook/basic.html' %}
{% load static %}

{% block title %}
Рецепты
{% endblock %}

{% block right %}
<form action="{% url 'search_results' %}" method="get" class="d-flex">
    <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css"
      href="{% static 'Cook/style_1.css' %}">
<br><br><br>
<center>
    <div class="yuy"> {% for el in recipe %}
        <h3> {{ el.name }} </h3>
        <p> Время приготовления: {{el.cook_time}} </p>
        <p> Ингредиенты: {{el.ingredients}} </p>
        <p> {{el.directions}} </p>
        <img src="{{el.image.url}}" width="600">
        <br><br>{% for tag in el.tags.all %}
        <b>| </b>{{ tag }}<b> |</b>
        {% endfor %}
        <br><br><br><br><br><br><br>
        {% endfor %}
    </div>
</center>
{% endblock %}